/***CSS variables***/
:root {
    --base-bg-color: #fff;
    --text-color: #000000;
    --nav-bg-color: rgba(202, 229, 255, 0.8);
    --theme-icon-color: #fff;
    --theme-btn-bg-color: #333333;
    --nav-a-color: #000000;
    --nav-a-focus-color: #fff;
    --github-link: blue;
    --github-link-visited: midnightblue;
    --footer-bg-color: rgba(202, 229, 255, 1);
}

/***Reset***/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all .3s ease;
}

/*** SMOOTH SCROLL ***/
html {
    scroll-behavior: smooth;
}


/*** FONT (Roboto) ***/

/***** NORMAL *****/

/***Thin***/
@font-face {
    font-family: "Roboto-Thin";
    src: url("../fonts/Roboto/static/Roboto-Thin.ttf");
    font-weight: 100;
    font-style: normal;
}

/***ExtraLight***/
@font-face {
    font-family: "Roboto-ExtraLight";
    src: url("../fonts/Roboto/static/Roboto-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
}

/***Light***/
@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto/static/Roboto-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

/***Regular***/
@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto/static/Roboto-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

/***Medium***/
@font-face {
    font-family: "Roboto-Medium";
    src: url("../fonts/Roboto/static/Roboto-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

/***SemiBold***/
@font-face {
    font-family: "Roboto-SemiBold";
    src: url("../fonts/Roboto/static/Roboto-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

/***Bold***/
@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto/static/Roboto-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

/***ExtraBold***/
@font-face {
    font-family: "Roboto-ExtraBold";
    src: url("../fonts/Roboto/static/Roboto-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}

/***Black (heavy)***/
@font-face {
    font-family: "Roboto-Black";
    src: url("../fonts/Roboto/static/Roboto-Black.ttf");
    font-weight: 900;
    font-style: normal;
}


/*** ITALIC ***/

/***ThinItalic***/
@font-face {
    font-family: "Roboto-ThinItalic";
    src: url("../fonts/Roboto/static/Roboto-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
}

/***ExtraLightItalic***/
@font-face {
    font-family: "Roboto-ExtraLightItalic";
    src: url("../fonts/Roboto/static/Roboto-ExtraLightItalic.ttf");
    font-weight: 200;
    font-style: italic;
}

/***LightItalic***/
@font-face {
    font-family: "Roboto-LightItalic";
    src: url("../fonts/Roboto/static/Roboto-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

/***RegularItalic***/
@font-face {
    font-family: "Roboto-RegularItalic";
    src: url("../fonts/Roboto/static/Roboto-Italic.ttf");
    font-weight: 400;
    font-style: normal;
}

/***MediumItalic***/
@font-face {
    font-family: "Roboto-MediumItalic";
    src: url("../fonts/Roboto/static/Roboto-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

/***SemiBoldItalic***/
@font-face {
    font-family: "Roboto-SemiBoldItalic";
    src: url("../fonts/Roboto/static/Roboto-SemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}

/***BoldItalic***/
@font-face {
    font-family: "Roboto-BoldItalic";
    src: url("../fonts/Roboto/static/Roboto-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

/***ExtraBoldItalic***/
@font-face {
    font-family: "Roboto-ExtraBoldItalic";
    src: url("../fonts/Roboto/static/Roboto-ExtraBoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}

/***BlackItalic (heavy)***/
@font-face {
    font-family: "Roboto-BlackItalic";
    src: url("../fonts/Roboto/static/Roboto-BlackItalic.ttf");
    font-weight: 900;
    font-style: italic;
}

/***********
BODY
***********/

body {
    background-color: var(--base-bg-color);
    width: 100%;
    font-size: 22px;
}

.d-flex {
    display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto-Medium", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
}

img {
    width: 100%;
}

/*************
RETURN TO TOP
*************/

#return-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #283669;
    padding: 0.8rem 1rem 0.8rem 1rem;
    border-radius: 50%;
    opacity: 80%;
    transition: none;
}

#return-to-top:hover {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #324487;
    padding: 0.8rem 1rem 0.8rem 1rem;
    border-radius: 50%;
    opacity: 100;
}

.fa-arrow-up {
    color: #fff;
    font-size: 2rem;
}


/***Dark mode***/
.dark-mode {
    --base-bg-color: #333333;
    --text-color: #fff;
    --nav-bg-color: rgba(181, 199, 235, 0.8);
    --theme-icon-color: #333333;
    --theme-btn-bg-color: #fff;
    --nav-a-color: #fff;
    --nav-a-focus-color: #fff;
    --github-link: #b5c7eb;
    --github-link-visited: powderblue;
    --footer-bg-color: rgba(202, 229, 255, 1);
}

/*** HEADER ***/



/***NAV***/
nav {
    position: fixed;
    z-index: 10; /*Pour que les éléments animés restent derrière la nav*/
    padding: 0.6em;
    text-align: center;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: var(--nav-bg-color);
}

#space-between {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

nav ul {
    font-family: "Roboto-Light", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    list-style: none;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    padding: 0 5px;
    transition: none;
}

nav ul li a:hover {
    list-style: none;
    text-decoration: underline;
    border-radius: 5px;
}

nav ul li a:focus {
    list-style: none;
    color: var(--nav-a-focus-color);
    text-decoration: underline;
    border-radius: 5px;
}

/***THEMES***/
#change-theme {
    margin: 0 auto;
    border: 1px solid var(--theme-btn-bg-color);
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--theme-btn-bg-color);
    cursor: pointer;
}

#change-theme svg {
    fill: var(--theme-icon-color);
}

/*Je veux montrer une seule icône quand le mode lumineux (par défaut) est actif*/
#change-theme svg:last-child {
    display: none;
    color: var(--theme-icon-color);
}

/*Je fais donc pareil pour le mode sombre*/
.dark-mode #change-theme svg:first-child {
    display: none;
    /*Je rend l'icône lune invisible*/
    color: var(--theme-icon-color);
}

.dark-mode #change-theme svg:last-child {
    display: block;
    /*Et j'affiche celle du soleil*/
    color: var(--theme-icon-color);
}

/*** HERO ***/
.hero {
    min-height: 100vh;
    background: url("../imgs/header-img.png");
    background-size: cover;
    background-position: center center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
}

.hero .hero-titles>h1 {
    font-family: "Roboto-Light", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
    color: #fff;
    margin: 0 auto;
    line-height: 3em;
    text-align: center;
}

#underline {
    text-decoration: underline 2px;
}

.resume {
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    border: 3px solid #fff;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    margin-top: 5em;
    padding: 15px 50px 15px 50px;
}

.fa-download {
    padding-right: 15px;
    font-size: 22px;
}

.resume:hover {
    background-color: #283669;
    border-color: #283669;
}

.resume:active {
    background-color: #324487;
    border-color: #324487;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
    transition: none;
}


/***** MAIN *****/

.container {
    width: 100%;
}


/***** PROJETS *****/
.projects {
    font-size: 20px;
    margin-top: 135px;
    flex-direction: column;
}

.projects>h2 {
    color: var(--text-color);
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}

.parent-project {
    padding-top: 3em;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    width: 41%;
}

.project-img {
    border-radius: 15px;
    border: 2px solid #000000;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1);
    transition: color .2s, background-color 1s, transform .35s;
}

.project-img:hover {
    border-radius: 15px;
    border: 2px solid #000000;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    transition: color .2s, background-color 1s, transform .35s;
}

.project ul li {
    font-family: "Roboto-Light", sans-serif;
    font-weight: 300;
    font-style: normal;
    list-style: none;
    font-size: 22px;
    color: var(--text-color);
    margin: 1rem 0rem 0rem 5px;
}

.project ul li:before {
    font-family: "Font Awesome 5 Free";
    content: "\f005";
    padding-right: 10px;
    vertical-align: 15%;
    font-weight: 900;
    color: #FFBD59;
    font-size: 18px;
}

.project ul li:first-child {
    margin-top: 2rem;
}

.project ul li:last-child {
    margin-bottom: 5rem;
}

.github-link {
    color: var(--github-link);
    text-decoration: none;
}

.github-link:hover {
    text-decoration: underline;
}

.github-link:visited {
    color: var(--github-link-visited);
    text-decoration: none;
}


/***** COMPETENCES *****/
.skills {
    font-size: 20px;
    margin-top: 135px;
    flex-direction: column;
}

.skills>h2 {
    color: var(--text-color);
    margin-bottom: 50px;
}


/**CARDS**/

/*HTML*/
.card {
    flex-direction: column;
    width: 20%;
    border: 3px solid #B5C7EB;
    padding: 20px 25px 20px 25px;
    border-radius: 6px;
}

.card>figure {
    width: 30%;
    margin: 0 auto;
}

.card .titles {
    text-align: center;
}

.card .titles>h4 {
    font-family: "Roboto-LightItalic", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
    text-transform: none;
    color: #AAAAAA;
}

.card>.text {
    font-family: "Roboto-Light", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.card .text>.src {
    text-align: center;
}


#css {
    width: 11%;
}

#css h3 {
    display: flex;
    justify-content: center;
}

#js {
    width: 11%;
}

#js h3 {
    display: flex;
    justify-content: center;
}

#figma {
    width: 6.5%;
    margin-left: 13px;
}

#figma h3 {
    display: flex;
    justify-content: center;
    margin-top: 2px;
}

#swift {
    width: 10%;
    margin-left: 21px;
}

#swift h3 {
    display: flex;
    justify-content: center;
}

#swift-ui {
    width: 10.4%;
    margin-left: 6px;
}

#swift-ui h3 {
    display: flex;
    justify-content: center;
}

.hard-skills-back-article-1 {
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 45px;
}

.hard-skills-back-article-2 {
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 60px;
}

#php {
    width: 20%;
    margin-right: 5px;
}

#php h3 {
    display: flex;
    justify-content: center;
}

#git {
    width: 11%;
    justify-self: center;
}

#git h3 {
    display: flex;
    justify-content: center;
    margin-top: 4px;
}

#mySQL {
    width: 15%;
    margin-left: 14px;
}

#mySQL h3 {
    display: flex;
    justify-content: center;
}

#ruby {
    width: 10%;
}

#ruby h3 {
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

/**************
CONTACT
**************/

#contact {
    padding: 8px 46px 8px 46px;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
    color: var(--text-color);
}

#contact-me {
    min-height: 70vh;
    background: url("../imgs/form-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title-contact {
    justify-content: center;
}

/***FORM***/

form {
    padding: 2em;
    width: 70%;
    height: 70vh;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.6);
}

#form-group {
    justify-content: center;
    flex-direction: column;
}

input {
    padding: 15px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #777777;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 15em;
    padding: 15px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #777777;
    border-radius: 5px;
    font-size: 16px;
}

#submit-button {
    align-items: center;
    width: 8em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #283669;
    background-color: #283669;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    cursor: pointer;
}

#submit-button:after {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    padding-left: 10px;
    vertical-align: middle;
    font-weight: 900;
    color: #fff;
    font-size: 18px;
}

#submit-button:hover {
    background-color: #324487;
    border: 1px #324487 solid;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


/***** FOOTER *****/
footer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* height: 10vh; */
    padding: 0.6em;
    background-color: var(--footer-bg-color);
}

.fa-github {
    color: #000000;
    text-decoration: none;
}

.fa-linkedin {
    color: #0077B5;
    text-decoration: none;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.contacts li:last-child {
    margin-top: 8px;
}

#logo {
    width: 35%;
}

/**************
MEDIA QUERIES
**************/

/***MOBILE***/

/*Prévoir aussi le mode paysage*/
/*overflow: auto; (voir texte si-dessous)*/
@media only screen and (max-width: 370px) {
    body {
        width: 100%;
        background-color: pink;
    }

    /*MAIN*/

    .home {
        flex-direction: column;
        justify-content: center;
        justify-content: space-around;
        margin: 0.5rem 0 0 0;
        width: 100%;
    }

    #profile {
        width: 15%;
        margin-top: 30px;
        flex-direction: column;
        margin-bottom: 6rem;
    }

    #profile-img {
        width: 100%;
        border-radius: 5%;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    }

    #find-me {
        text-align: center;
        margin: 1rem;
        font-size: 18px;
        color: var(--text-color);
    }

    #socials-icons {
        flex-direction: row;
        font-size: 3rem;
        justify-content: space-evenly;
        align-items: center;
    }

    #searching-for {
        margin-top: 25px;
        width: 50%;
        color: var(--text-color);
    }

    #searching-for h2 {
        font-size: 25px;
        color: var(--text-color);
    }

    .contact-resume {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        margin: 2rem 0 5em 0;
    }

    .resume {
        background-color: #283669;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        margin-bottom: 2rem;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
        width: 65%;
    }

    .resume:before {
        font-family: "Font Awesome 5 Free";
        content: "\f019";
        padding-right: 10px;
        vertical-align: middle;
        font-weight: 900;
        color: #fff;
        font-size: 18px;
    }

    .resume:hover {
        background-color: #324487;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
    }

    /***PROJETS***/

    #projects {
        justify-content: center;
        margin: 2em 0 2em 0;
    }

    .title-projects {
        font-size: 13px;
        justify-content: center;
        color: var(--text-color);
    }

    .parent-project {
        padding-top: 3em;
        margin: 0 auto;
        justify-content: center;
        justify-content: space-evenly;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .project {
        width: 90%;
        margin: 0 auto;
    }

    .project-img {
        width: 100%;
        border-radius: 15px;
        border: 2px solid #000000;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        transform: scale(1);
        transition: color .2s, background-color 1s, transform .35s;
    }

    .project-img:hover {
        width: 100%;
        border-radius: 15px;
        border: 2px solid #000000;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        transform: scale(1.1);
        transition: color .2s, background-color 1s, transform .35s;
    }

    .project ul li {
        width: 100%;
        margin: 1rem 0rem 0rem 5px;
        list-style: none;
        font-size: 18px;
        color: var(--text-color);
    }

    .project ul li:before {
        font-family: "Font Awesome 5 Free";
        content: "\f005";
        padding-right: 10px;
        vertical-align: 30%;
        font-weight: 900;
        color: #FFBD59;
        font-size: 10px;
    }

    .project ul li:first-child {
        margin-top: 2rem;
    }

    .project ul li:last-child {
        margin-bottom: 5rem;
    }

    .github-link {
        color: var(--github-link);
        text-decoration: none;
    }

    .github-link:hover {
        color: var(--github-link);
        text-decoration: underline;
    }

    .github-link:visited {
        color: var(--github-link-visited);
        text-decoration: none;
    }

    /***COMPETENCES***/

    .section-padding {
        padding-bottom: 6em;
    }

    .parent {
        background-color: var(--skills-bg-color);
        flex-direction: column;
        justify-content: center;
        width: 85%;
        margin: auto;
        border-radius: 15px;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    }

    #competences {
        width: 20%;
        margin: 2em 0 2em 0;
        justify-content: center;
        color: var(--text-color);
    }

    .title-competences {
        justify-content: center;
        font-size: 13px;
    }

    /***LANGUAGES***/

    .title-lang {
        margin: 25px 0 80px 0;
        font-size: 23px;
        justify-content: center;
    }

    #langues ul {
        display: flex;
        flex-direction: column;
    }

    #langues ul li {
        margin: auto;
        align-items: center;
        justify-content: space-evenly;
        font-size: 18px;
        list-style: none;
        padding-bottom: 3em;
    }

    #langues ul li:before {
        font-family: "Font Awesome 5 Free";
        content: "\2b";
        padding-right: 10px;
        vertical-align: 2%;
        font-weight: 900;
        color: #000000;
        font-size: 18px;
    }

    /***SOFT SKILLS***/

    .title-soft-skills {
        margin: 35px 0 70px 0;
        font-size: 23px;
        justify-content: center;
    }

    .soft-skills ul {
        display: flex;
        flex-direction: column;
    }

    .soft-skills {
        margin: auto;
    }

    .soft-skills ul li {
        list-style: none;
        font-size: 18px;
    }

    .soft-skills ul li:before {
        font-family: "Font Awesome 5 Free";
        content: "\2b";
        padding-right: 10px;
        vertical-align: 2%;
        font-weight: 900;
        color: #000000;
        font-size: 18px;
    }

    .soft-skills ul li:nth-child(2) {
        margin-top: 20px;
    }

    .soft-skills ul li:last-child {
        margin: 20px 0 3rem 0;
        padding-bottom: 2em;
    }

    /***HARD SKILLS***/

    .title-hard-skills {
        margin: 35px 0 70px 0;
        font-size: 23px;
        text-align: center;
        justify-content: center;
    }

    .hard-skills-front-article-1 {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin: auto;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 45px;
    }

    .hard-skills-front-article-2 {
        display: flex;
        width: 95%;
        margin: auto;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 60px;
    }

    #html {
        width: 10%;
        margin-right: 2px;
    }

    #html h3 {
        display: flex;
        justify-content: center;
        font-size: 15px;
    }

    #css {
        width: 11%;
    }

    #css h3 {
        display: flex;
        justify-content: center;
        font-size: 15px;
    }

    #js {
        width: 11%;
    }

    #js h3 {
        display: flex;
        justify-content: center;
        font-size: 15px;
    }

    #figma {
        width: 6.5%;
        margin-left: 13px;
    }

    #figma h3 {
        display: flex;
        justify-content: center;
        font-size: 15px;
    }

    #swift {
        width: 10%;
        margin-left: 21px;
    }

    #swift h3 {
        display: flex;
        justify-content: center;
        font-size: 15px;
        margin-top: 2px;
    }

    #swift-ui {
        width: 10.4%;
        margin-left: 6px;
    }

    #swift-ui h3 {
        display: flex;
        justify-content: center;
        font-size: 15px;
    }

    .hard-skills-back-article-1 {
        display: flex;
        width: 75%;
        margin: auto;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 45px;
    }

    .hard-skills-back-article-2 {
        display: flex;
        width: 75%;
        margin: auto;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 60px;
    }

    #php {
        width: 20%;
        margin-right: 5px;
    }

    #php h3 {
        display: flex;
        justify-content: center;
    }

    #python {
        width: 11%;
        margin-right: 15px;
    }

    #python h3 {
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
    }

    #git {
        width: 11%;
    }

    #git h3 {
        display: flex;
        justify-content: center;
        margin-top: 4px;
    }

    #mySQL {
        width: 15%;
        margin-left: 14px;
    }

    #mySQL h3 {
        display: flex;
        justify-content: center;
    }

    #nodeJS {
        width: 15%;
        margin-left: 15px;
    }

    #nodeJS h3 {
        display: flex;
        justify-content: center;
    }

    #ruby {
        width: 12%;
    }

    #ruby h3 {
        display: flex;
        justify-content: center;
        margin-top: 48px;
    }

    .skills-hr {
        width: 90%;
        margin: auto;
        border-bottom: var(--skills-hr-color);
    }

    #hard-skills-hr {
        width: 70%;
        margin: auto;
        border-bottom: var(--skills-hr-color);
    }

    /***CONTACT***/
    .title-contact {
        justify-content: center;
        font-size: 13px;
    }
}

/*
We have styled the dropdown button with a background-color, padding, etc.

The .dropdown class uses position:relative, which is needed when we want the dropdown content to be placed right below the dropdown button (using position:absolute).

The .dropdown-content class holds the actual dropdown menu. It is hidden by default, and will be displayed on hover (see below). Note the min-width is set to 160px. Feel free to change this. Tip: If you want the width of the dropdown content to be as wide as the dropdown button, set the width to 100% (and overflow:auto to enable scroll on small screens).

Instead of using a border, we have used the box-shadow property to make the dropdown menu look like a "card". We also use z-index to place the dropdown in front of other elements.

The :hover selector is used to show the dropdown menu when the user moves the mouse over the dropdown button.
*/