/***** PROJETS *****/
.all-cards {
    width: 74%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    margin-top: 3em;
}

.project-card {
    border-radius: 10px;
    flex-direction: column;
    width: 380px;
    margin-bottom: 130px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.project-card:hover {
    transform: scale(1.1);
}

/*
Mon image devient rectangulaire car je lui impose des mesures précises : le navigateur va recalculer les dimmensions de l'image
pour que celle-ci ai les dimmensions suivantes : 320x480px.

Ces dimmensions correspondent à un ratio image de 2:3, soit le rectangle.

Quant à la propriété "object-fit: cover;", celle-ci va dire à l'image de se couper afin de ne pas briser le ratio indiqué par
width et height. Ne pas déclarer cette propriété va déformer l'image : par défaut, CSS indique à l'image qu'elle doit s'étirer
sur toute la zone disponible, sans tenir compte du ratio à respecter.
*/
.project-card>figure {
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    background-size: 900px;
}

.project-card>.image-infos {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px 0 15px;
}

.project-card .image-infos>h2 {
    font-size: 26px;
    margin-top: 25px;
    margin-bottom: 1.2em;
}

.project-card .image-infos>.project-description {
    font-family: "Roboto-Light", sans-serif;
    color: var(--text-color);
    width: 92%;
    font-size: 18px;
    line-height: 1.5;
}

.project-card .image-infos>.stacks {
    font-family: "Roboto-Light", sans-serif;
    color: var(--text-color);
    margin-top: 20px;
    width: 92%;
    font-size: 18px;
}

.project-card .image-infos .stacks>span {
    text-decoration: underline;
}

.project-card .image-infos>.project-link {
    font-family: "Roboto-Light", sans-serif;
    font-size: 18px;
    color: var(--project-link);
    margin: 2em 0 35px 0;
}

/***** PROJETS *****/
.projects {
    font-size: 20px;
    margin-top: 200px;
    flex-direction: column;
}

.projects>h2 {
    margin-bottom: 20px;
    color: var(--text-color);
    text-align: center;
}

.project-links {
    flex-direction: row;
}

.see-more {
    font-family: "Roboto-Light", sans-serif;
    font-weight: 300;
    font-size: 18px;
    background-color: var(--button);
    color: #fff;
    border: 3px solid var(--button);
    border-radius: 6px;
    padding: 12px 30px 12px 30px;
}

.see-more:hover {
    background-color: var(--button-hover);
    border: 3px solid var(--button-hover);
    box-shadow: var(--see-more-shadow);
}

.fa-laptop-code {
    margin-right: 14px;
}