/***CSS variables***/
:root {
    --base-bg-color: #fff;
    --text-color: #000;
    --nav-bg-color: rgb(212, 237, 255, 0.9);
    --project-link: #324487;
    --button: #283669;
    --button-hover: #324487;
    --footer-bg-color: #D4EDFF;
}

/***Reset***/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all .3s ease;
}

/*** SMOOTH SCROLL ***/
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--base-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 32px;
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color);
}

img {
    width: 100%;
}