/*** CONTACT ***/
.title-contact>h1 {
    margin: 135px 0 20px 0;
}

.contact-me {
    min-height: 63vh;
    background: url("../imgs/form-bg-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 40em rgba(0, 0, 0, 0.6) inset;
    margin-top: 3em;
}

/***FORM***/
form {
    background-color: rgba(255, 255, 255, 0.3);
    min-height: 63vh;
    padding: 2em 0 2em 0;
    width: 55%;
}

input {
    font-family: "Roboto-Light", sans-serif;
    font-size: 1rem; // 16px
    height: 2.7em;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #777777;
}

/* form-elements */
.form-elements {
    width: 80%;
}

.form-elements>textarea {
    font-family: "Roboto-Light", sans-serif;
    font-size: 1rem; // 16px
    height: 15em;
    padding-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #777777;
}

/* submit-button */
.form-elements>.submit-button {
    font-family: "Roboto-Light", sans-serif;
    border: 1px solid var(--button);
    background-color: var(--button);
    color: #fff;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
    font-size: 1rem; // 16px
    width: 20%;
    margin-top: 10px;
}

.form-elements>.submit-button:hover {
    background-color: var(--button-hover);
    border: 1px var(--button-hover) solid;
    box-shadow: 0 0 24px rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

/* Message */
.none {
    display: none;
}

#submit-message>p {
    font-family: "Roboto-Light", sans-serif;
    font-size: 1.125rem;
    margin: 20px 0 30px 0;
    color: #fff;
}