.theme-switcher {
    background-color: var(--theme-icon-color);
    border: 2px solid var(--theme-bg-color);
    border-radius: 10em;
    width: 4.5em;
    padding: 0.2em;
}

.theme-switcher:hover {
    cursor: pointer;
}

.theme-switcher>.theme-button {
    background-color: var(--theme-bg-color);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    transition: transform .3s ease;
}

.theme-switcher .theme-button>i {
    color: var(--theme-icon-color);
    font-size: 0.75rem;
}

/*** INACTIVE DARK MODE ***/
.theme-switcher .theme-button>.fa-sun {
    display: none;
}

/*** ACTIVE DARK MODE ***/
.dark-mode .theme-switcher>.theme-button {
    transform: translateX(2.35em);
}

.dark-mode .theme-switcher .theme-button>.fa-sun {
    display: block;
}

.dark-mode .theme-switcher .theme-button>.fa-moon {
    display: none;
}