.details-body {
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
}

.details-nav {
    position: static;
}

.details-main {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.simple-card {
    border-radius: 15px;
    flex-direction: row;
    width: 1400px;
    box-shadow: 0px 4px 15px #d1d1d1;
}

// .simple-card>figure {
//     display: flex;
//     height: 395px;
//     width: 600px;
//     margin: 0 auto;
//     overflow: hidden;
//     margin: 20px 25px 20px 25px;
//     object-fit: cover;
//     border-radius: 15px;
//     background-size: 1300px;
// }

.simple-card>figure {
    width: 40%;
}

.simple-card>.simple-image-infos {
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    margin: 0 15px 0 15px;
    padding: 40px 0 40px 0;
    width: 50%;
}

.simple-card .simple-image-infos>h2 {
    font-size: 28px;
    margin-bottom: 1.5em;
}

.simple-card .simple-image-infos>.project-description {
    font-family: "Roboto-Light", sans-serif;
    font-size: 18px;
    color: #7390C8;
    margin-bottom: 1em;
    width: 80%;
}

.simple-card .simple-image-infos>.project-link {
    font-family: "Roboto-Light", sans-serif;
    font-size: 18px;
    color: #B5C7EB;
    // margin-bottom: 1.5em;
}

.go-back-link {
    font-family: "Roboto-Light", sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: #fff;
}

/**** IMAGES ****/
.simple-card>.accessibility-details {
    background-image: url("../../assets/imgs/projects/simple_accessibility.png");
}