/*** HERO ***/
.hero {
    min-height: 75vh;
    background: url("../imgs/header-bg-img.png");
    background-size: cover;
    background-position: center center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 40em rgba(0, 0, 0, 0.5) inset;
}

.hero .hero-titles>h1 {
    font-family: "Roboto-Light", sans-serif;
    font-weight: 300;
    font-size: 32px;
    color: #fff;
    margin: 0 auto;
    line-height: 3em;
    text-align: center;
    text-transform: none;
}

span {
    text-decoration: underline;
}

.resume {
    font-family: "Roboto-Light", sans-serif;
    font-weight: 300;
    font-size: 20px;
    border: 3px solid #fff;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    margin-top: 2em;
    padding: 18px 40px 18px 40px;
    box-shadow: 0px 2.5px 30px rgba(199, 199, 199, 0.5);
}

.fa-download {
    padding-right: 18px;
    font-size: 22px;
}

.resume:hover {
    background-color: #283669;
    border-color: #283669;
}

.resume:active {
    background-color: #324487;
    border-color: #324487;
    color: #fff;
    text-decoration: none;
    transition: none;
}


/***** MAIN *****/
.container {
    width: 100%;
}

.about-me {
    justify-content: center;
    margin: 75px 0 210px 0;
}

.about-me>figure {
    width: 18%;
    margin-right: 5em;
}

.about-me figure>img {
    border-radius: 15px;
}

.about-me>.searching-for {
    width: 51%;
}

.about-me>.searching-for h3 {
    text-align: left;
    font-size: 32px;
    margin-bottom: 10px;
}

.about-me>.searching-for p {
    font-family: "Roboto-Light", sans-serif;
    font-weight: 300;
    color: var(--text-color);
    line-height: 1.5;
    font-size: 20px;
}

.searching-for>.icons {
    font-size: 45px;
    margin-top: 40px;
}

.searching-for .icons>.github {
    margin-right: 20px;
}

/***** PROJETS 2 *****/
.all-cards {
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    margin-top: 3em;
}

.card {
    border-radius: 15px;
    flex-direction: column;
    width: 370px;
    margin-bottom: 130px;
    box-shadow: 0px 4px 15px #d1d1d1;
}

/*
Mon image devient rectangulaire car je lui impose des mesures précises : le navigateur va recalculer les dimmensions de l'image
pour que celle-ci ai les dimmensions suivantes : 320x480px.

Ces dimmensions correspondent à un ratio image de 2:3, soit le rectangle.

Quant à la propriété "object-fit: cover;", celle-ci va dire à l'image de se couper afin de ne pas briser le ratio indiqué par
width et height. Ne pas déclarer cette propriété va déformer l'image : par défaut, CSS indique à l'image qu'elle doit s'étirer
sur toute la zone disponible, sans tenir compte du ratio à respecter.
*/
.card>figure {
    display: flex;
    width: 320px;
    height: 480px;
    margin: 0 auto;
    overflow: hidden;
    margin: 20px 25px 20px 25px;
    object-fit: cover;
    border-radius: 15px;
    background-size: 1300px;
}

.card>.image-infos {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px 0 15px;
}

.card .image-infos>h2 {
    font-size: 22px;
    margin-bottom: 1.5em;
}

.card .image-infos>.details {
    font-family: "Roboto-Light", sans-serif;
    font-size: 18px;
    color: #7390C8;
    margin-bottom: 1em;
}

.card .image-infos>.project-link {
    font-family: "Roboto-Light", sans-serif;
    font-size: 18px;
    color: #B5C7EB;
    margin-bottom: 1.5em;
}

/***** PROJETS *****/
.projects {
    font-size: 20px;
    margin-top: 135px;
    flex-direction: column;
}

.projects>h2 {
    margin-bottom: 20px;
    color: var(--text-color);
    text-align: center;
}

/***** PROJETS DETAILS *****/
.card>.accessibility {
    background-image: url("../../assets/imgs/projects/simple_accessibility.png");
}

.card>.joke-generator {
    background-image: url("../../assets/imgs/projects/joke_generator.png");
    background-position: -190px -2080px;
}