/***Reset***/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all .3s ease;
}

/*** SMOOTH SCROLL ***/
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--base-bg-color);
    width: 100%;
    font-size: 22px;
}

.d-flex {
    display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color);
}

img {
    width: 100%;
}

li {
    list-style: none;
}