/*** MEDIA QUERIES ***/

// Le design mobile s'affiche lorsque la largeur de l'écran est inférieure ou égale à 768px
@media screen and (max-width: 768px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 28px;
    }

    /***NAV***/
    nav ul {
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 1;
        flex-direction: column;
        justify-content: flex-start;
        width: 55%;
        height: 100vh;
        font-size: 21px;
        background-color: #000000;
        transition: all 0.2 ease-in-out;
    }

    nav ul li:first-child {
        margin-top: 8em;
    }

    nav ul li {
        margin-top: 40px;
    }

    nav ul li a {
        padding: 10px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~ul {
        right: 0;
    }

    .cover {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.4);
    }

    /***ABOUT ME***/
    .about-me {
        flex-direction: column;
        align-items: center;
        margin: 150px 0 210px 0;
    }

    .about-me>figure {
        width: 42%;
        margin: 0 0 4em 0;
    }

    .about-me figure>img {
        border-radius: 15px;
    }

    .about-me>.searching-for {
        width: 60%;
    }

    .about-me>.searching-for h3 {
        text-transform: none;
        text-align: left;
        font-size: 34px;
        margin-bottom: 10px;
    }

    .about-me>.searching-for p {
        font-family: "Roboto-Light", sans-serif;
        font-weight: 300;
        color: var(--text-color);
        line-height: 1.5;
        font-size: 21px;
    }

    .searching-for>.icons {
        font-size: 45px;
        margin-top: 40px;
    }

    .searching-for .icons>.github {
        margin-right: 20px;
    }

    .resume {
        font-family: "Roboto-Light", sans-serif;
        font-weight: 300;
        font-size: 17.5px;
        background-color: var(--footer-bg-color);
        border-color: var(--footer-bg-color);
        border-radius: 6px;
        color: #fff;
        text-decoration: none;
        margin-top: 2.5em;
        padding: 13.5px 45px 13.5px 45px;
        box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.2);
    }

    .resume:hover {
        background-color: var(--btn-hover);
        border-color: var(--btn-hover);
        color: #fff;
        text-decoration: none;
        box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.5);
    }

    .fa-download {
        padding-right: 15px;
        font-size: 20px;
    }

    /***PROJETS***/
    .projects > h2 {
        font-size: 34px;        
    }

    .project {
        width: 90%;
        margin: 0 auto;
    }

    .project-img {
        width: 100%;
        border-radius: 15px;
        border: 2px solid #000000;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    }

    /***CARD WRAPPER***/
    .card-wrapper .swiper-slide-button {
        display: none;
    }

    .card-item>figure {
        width: 35%;
    }

    .card-item>.figma {
        width: 25%;
    }

    .card-item>.mySQL {
        width: 62.5%;
    }

    .card-item>.php {
        width: 60%;
    }

    .card-item>.mongodb {
        width: 52%;
    }

    .card-item>.symfony {
        width: 34%;
        margin-bottom: 10px;
    }

    .text {
        font-size: 18px;
    }

    /***SKILLS***/
    .skills > h1 {
        font-size: 34px;
    }

    /*** FOOTER ***/
    .title-contact > h1 {
        font-size: 34px;
    }

    form {
        min-height: 65vh;
        width: 90%;
        padding: 2.5em 0 2.5em 0;
    }

    /* submit-button */
    .form-elements>.submit-button {
        width: 40%;
    }

    /***FOOTER***/
    /* icons container */
    .icons-container>a {
        width: 20%;
    }

    /* socials-icons */
    .socials-icons a>i {
        font-size: 40px;
        margin-left: 25px;
    }
}