/*** MEDIA QUERIES ***/
@media screen and (max-width: 768px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 28px;
    }

    /***NAV***/
    nav ul {
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        flex-direction: column;
        justify-content: flex-start;
        width: 70%;
        height: 100vh;
        font-size: 21px;
        background-color: #000000;
        transition: all 0.2 ease-in-out;
    }

    nav ul li:first-child {
        margin-top: 8em;
    }

    nav ul li {
        margin-top: 40px;
    }

    nav ul li a {
        padding: 10px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~ul {
        right: 0;
    }

    // #cover-background {
    //     display: none;
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     height: 0;
    //     width: 0;
    //     z-index: -1;
    // }

    // #cover-background.covering {
    //     display: block;
    //     height: 100%;
    //     width: 100%;
    //     z-index: 1;
    //     background-color: rgba(0, 0, 0, 0.3);
    // }


    /***HERO***/
    .hero .hero-titles>h1 {
        font-size: 20px;
        line-height: 32px;
    }

    .hero .hero-titles>h1:first-child {
        margin-bottom: 3em;
    }

    /***RESUME***/
    .resume {
        font-size: 16px;
        border: 3px solid #fff;
        border-radius: 6px;
        color: #fff;
        text-decoration: none;
        margin-top: 5em;
        padding: 10px 45px 10px 45px;
    }

    .fa-download {
        padding-right: 15px;
        font-size: 20px;
    }

    /***PROJETS***/
    .project {
        width: 90%;
        margin: 0 auto;
    }

    .project-img {
        width: 100%;
        border-radius: 15px;
        border: 2px solid #000000;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    }

    .project ul li {
        font-size: 20px;
    }

    .fa-star {
        font-size: 16px;
    }

    /***CARD WRAPPER***/
    .card-wrapper .swiper-slide-button {
        display: none;
    }

    .card-item>figure {
        width: 50%;
    }

    .card-item>.figma {
        width: 30%;
    }

    .card-item>.php {
        width: 80%;
    }

    .text {
        font-size: 18px;
    }

    .contact-me {
        padding: 1em 0 1em 0;
    }

    form {
        width: 90%;
        padding: 1.5em 0 1.5em 0;
    }

    /***FOOTER***/
    /* icons container */
    .icons-container>a {
        width: 20%;
    }

    /* socials-icons */
    .socials-icons a>i {
        font-size: 30px;
        margin-left: 15px;
    }
}