@forward 'page/params';
@forward 'fonts/fonts';
@forward 'components/nav';
@forward 'page/page';
@forward 'page/details';
@forward 'components/slider';
@forward 'components/footer';
@forward 'responsive/responsive';