@charset "UTF-8";
/***CSS variables***/
:root {
  --base-bg-color: #333333;
  --text-color: #fff;
  --nav-bg-color: rgb(51, 61, 101, 0.8);
  --theme-icon-color: #333333;
  --theme-btn-bg-color: #fff;
  --nav-a-color: #fff;
  --github-link: #b5c7eb;
  --footer-bg-color: #333D65;
}

/***Reset***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

/*** SMOOTH SCROLL ***/
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--base-bg-color);
  width: 100%;
}

.d-flex {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 32px;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);
}

img {
  width: 100%;
}

li {
  list-style: none;
}

/***** FONT (Roboto) *****/
/*** NORMAL ***/
/***Thin***/
@font-face {
  font-family: "Roboto-Thin";
  src: url("../fonts/Roboto/static/Roboto-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
/***ExtraLight***/
@font-face {
  font-family: "Roboto-ExtraLight";
  src: url("../fonts/Roboto/static/Roboto-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
/***Light***/
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto/static/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
/***Regular***/
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto/static/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
/***Medium***/
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto/static/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
/***SemiBold***/
@font-face {
  font-family: "Roboto-SemiBold";
  src: url("../fonts/Roboto/static/Roboto-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
/***Bold***/
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto/static/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
/***ExtraBold***/
@font-face {
  font-family: "Roboto-ExtraBold";
  src: url("../fonts/Roboto/static/Roboto-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
/***Black (heavy)***/
@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto/static/Roboto-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
/*** ITALIC ***/
/***ThinItalic***/
@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("../fonts/Roboto/static/Roboto-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}
/***ExtraLightItalic***/
@font-face {
  font-family: "Roboto-ExtraLightItalic";
  src: url("../fonts/Roboto/static/Roboto-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}
/***LightItalic***/
@font-face {
  font-family: "Roboto-LightItalic";
  src: url("../fonts/Roboto/static/Roboto-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
/***RegularItalic***/
@font-face {
  font-family: "Roboto-RegularItalic";
  src: url("../fonts/Roboto/static/Roboto-Italic.ttf");
  font-weight: 400;
  font-style: normal;
}
/***MediumItalic***/
@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("../fonts/Roboto/static/Roboto-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
/***SemiBoldItalic***/
@font-face {
  font-family: "Roboto-SemiBoldItalic";
  src: url("../fonts/Roboto/static/Roboto-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
/***BoldItalic***/
@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("../fonts/Roboto/static/Roboto-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
/***ExtraBoldItalic***/
@font-face {
  font-family: "Roboto-ExtraBoldItalic";
  src: url("../fonts/Roboto/static/Roboto-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
/***BlackItalic (heavy)***/
@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("../fonts/Roboto/static/Roboto-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
/***NAV***/
nav {
  position: fixed;
  z-index: 10;
  /*Pour que les éléments animés restent derrière la nav*/
  padding: 0.6em;
  text-align: center;
  width: 100%;
  background-color: var(--nav-bg-color);
}

.space-between {
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.logo-nav > a {
  align-items: center;
  width: 30%;
}

nav ul {
  flex-direction: row;
  font-family: "Roboto-Light", sans-serif;
  font-weight: 300;
  font-size: 17px;
  text-decoration: none;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  padding: 0 5px;
  transition: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li a:focus {
  text-decoration: underline;
}

.open-menu, .close-menu {
  display: none;
  position: absolute;
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
}

.open-menu {
  top: 13%;
  right: 20px;
  transform: translateY(50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

#check {
  display: none;
}

/*** HERO ***/
.hero {
  min-height: 75vh;
  background: url("../imgs/header-bg-img.png");
  background-size: cover;
  background-position: center center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 40em rgba(0, 0, 0, 0.5) inset;
}

.hero .hero-titles > h1 {
  font-family: "Roboto-Light", sans-serif;
  font-weight: 300;
  font-size: 32px;
  color: #fff;
  margin: 0 auto;
  line-height: 3em;
  text-align: center;
  text-transform: none;
}

span {
  text-decoration: underline;
}

.resume {
  font-family: "Roboto-Light", sans-serif;
  font-weight: 300;
  font-size: 20px;
  border: 3px solid #fff;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  margin-top: 2em;
  padding: 18px 40px 18px 40px;
  box-shadow: 0px 2.5px 30px rgba(199, 199, 199, 0.5);
}

.fa-download {
  padding-right: 18px;
  font-size: 22px;
}

.resume:hover {
  background-color: #283669;
  border-color: #283669;
}

.resume:active {
  background-color: #324487;
  border-color: #324487;
  color: #fff;
  text-decoration: none;
  transition: none;
}

/***** MAIN *****/
.container {
  width: 100%;
}

.about-me {
  justify-content: center;
  margin: 75px 0 210px 0;
}

.about-me > figure {
  width: 18%;
  margin-right: 5em;
}

.about-me figure > img {
  border-radius: 15px;
}

.about-me > .searching-for {
  width: 51%;
}

.about-me > .searching-for h3 {
  text-align: left;
  font-size: 32px;
  margin-bottom: 10px;
}

.about-me > .searching-for p {
  font-family: "Roboto-Light", sans-serif;
  font-weight: 300;
  color: var(--text-color);
  line-height: 1.5;
  font-size: 20px;
}

.searching-for > .icons {
  font-size: 45px;
  margin-top: 40px;
}

.searching-for .icons > .github {
  margin-right: 20px;
}

/***** PROJETS 2 *****/
.all-cards {
  width: 90%;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  margin-top: 3em;
}

.card {
  border-radius: 15px;
  flex-direction: column;
  width: 370px;
  margin-bottom: 130px;
  box-shadow: 0px 4px 15px #d1d1d1;
}

/*
Mon image devient rectangulaire car je lui impose des mesures précises : le navigateur va recalculer les dimmensions de l'image
pour que celle-ci ai les dimmensions suivantes : 320x480px.

Ces dimmensions correspondent à un ratio image de 2:3, soit le rectangle.

Quant à la propriété "object-fit: cover;", celle-ci va dire à l'image de se couper afin de ne pas briser le ratio indiqué par
width et height. Ne pas déclarer cette propriété va déformer l'image : par défaut, CSS indique à l'image qu'elle doit s'étirer
sur toute la zone disponible, sans tenir compte du ratio à respecter.
*/
.card > figure {
  display: flex;
  width: 320px;
  height: 480px;
  margin: 0 auto;
  overflow: hidden;
  margin: 20px 25px 20px 25px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  background-size: 1300px;
}

.card > .image-infos {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px 0 15px;
}

.card .image-infos > h2 {
  font-size: 22px;
  margin-bottom: 1.5em;
}

.card .image-infos > .details {
  font-family: "Roboto-Light", sans-serif;
  font-size: 18px;
  color: #7390C8;
  margin-bottom: 1em;
}

.card .image-infos > .project-link {
  font-family: "Roboto-Light", sans-serif;
  font-size: 18px;
  color: #B5C7EB;
  margin-bottom: 1.5em;
}

/***** PROJETS *****/
.projects {
  font-size: 20px;
  margin-top: 135px;
  flex-direction: column;
}

.projects > h2 {
  margin-bottom: 20px;
  color: var(--text-color);
  text-align: center;
}

/***** PROJETS DETAILS *****/
.card > .accessibility {
  background-image: url("../../assets/imgs/projects/simple_accessibility.png");
}

.card > .joke-generator {
  background-image: url("../../assets/imgs/projects/joke_generator.png");
  background-position: -190px -2080px;
}

.details-body {
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
}

.details-nav {
  position: static;
}

.details-main {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.simple-card {
  border-radius: 15px;
  flex-direction: row;
  width: 1400px;
  box-shadow: 0px 4px 15px #d1d1d1;
}

.simple-card > figure {
  width: 40%;
}

.simple-card > .simple-image-infos {
  flex-direction: column;
  align-items: center;
  margin: 0 15px 0 15px;
  padding: 40px 0 40px 0;
  width: 50%;
}

.simple-card .simple-image-infos > h2 {
  font-size: 28px;
  margin-bottom: 1.5em;
}

.simple-card .simple-image-infos > .project-description {
  font-family: "Roboto-Light", sans-serif;
  font-size: 18px;
  color: #7390C8;
  margin-bottom: 1em;
  width: 80%;
}

.simple-card .simple-image-infos > .project-link {
  font-family: "Roboto-Light", sans-serif;
  font-size: 18px;
  color: #B5C7EB;
}

.go-back-link {
  font-family: "Roboto-Light", sans-serif;
  font-size: 17px;
  text-decoration: none;
  color: #fff;
}

/**** IMAGES ****/
.simple-card > .accessibility-details {
  background-image: url("../../assets/imgs/projects/simple_accessibility.png");
}

/*** COMPETENCES ***/
.skills {
  font-size: 20px;
  margin: 135px 0 100px 0;
  margin-top: 135px;
  flex-direction: column;
}

.skills > h1 {
  margin-bottom: 20px;
}

/**CARDS**/
.cards-container {
  /* background-color: #0077B5; */
  width: 80%;
  margin-top: 3em;
  flex-direction: row;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* card-wrapper */
.card-wrapper {
  max-width: 100%;
  margin: 0 60px 35px;
  overflow: hidden;
}

.card-list {
  width: 50%;
}

/* card-item */
.card-item {
  display: flex;
  align-content: center;
  height: auto !important;
  border: 3px solid #b5c7eb;
  border-radius: 6px;
  padding: 40px 25px 40px 25px;
  margin-bottom: 10px;
}

.card-item > figure {
  width: 28%;
  margin: 0 auto;
  margin-bottom: 5px;
}

.card-item:active {
  cursor: grabbing;
}

.card-item > .titles {
  text-align: center;
  line-height: 1.6em;
}

.card-item .titles > h3 {
  text-transform: none;
  font-size: 22px;
}

.card-item .titles > h4 {
  font-family: "Roboto-LightItalic", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  text-transform: none;
  color: #AAAAAA;
}

.card-item > .text {
  font-family: "Roboto-Light", sans-serif;
  font-weight: 300;
  margin-top: 20px;
  color: var(--text-color);
  text-align: center;
}

.card-item .text > .level {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;
}

.card-item .text > p:first-child {
  text-align: start;
  margin: 30px 0 20px 0;
}

.card-item .text > .solid-star {
  color: #FFBD59;
}

.card-item > .figma {
  width: 20%;
}

.card-item > .php {
  width: 50%;
}

.card-item > .mongodb {
  width: 32%;
  margin-bottom: 2px;
}

.card-item > .wordpress {
  width: 40%;
  margin-bottom: 0;
}

/* swiper buttons + pagination */
.swiper-button-next, .swiper-button-prev {
  --swiper-navigation-color: var(--text-color);
  --swiper-navigation-size: 28px;
}

.swiper-pagination-bullet {
  --swiper-pagination-color: #788cb5;
}

/*** CONTACT ***/
.title-contact {
  justify-content: center;
}

.title-contact > h1 {
  margin: 135px 0 20px 0;
}

.contact-me {
  min-height: 63vh;
  background: url("../imgs/form-bg-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 40em rgba(0, 0, 0, 0.5) inset;
  align-items: center;
  margin-top: 3em;
}

/***FORM***/
form {
  background-color: rgba(255, 255, 255, 0.3);
  min-height: 63vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2em 0 2em 0;
  width: 55%;
}

input {
  font-family: "Roboto-Light", sans-serif;
  font-size: 15px;
  height: 2.7em;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #777777;
}

/* form-group */
.form-group {
  width: 100%;
}

.form-group > input:first-child {
  margin-right: 10px;
}

/* form-elements */
.form-elements {
  flex-direction: column;
  width: 80%;
}

.form-elements > textarea {
  font-family: "Roboto-Light", sans-serif;
  font-size: 15px;
  height: 15em;
  padding: 15px 15px 15px 10px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #777777;
}

/* submit-button */
.form-elements > .submit-button {
  font-family: "Roboto-Light", sans-serif;
  align-self: flex-start;
  border: 1px solid #283669;
  background-color: #283669;
  color: #fff;
  padding: 12px 20px 12px 20px;
  border-radius: 5px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  width: 20%;
}

.form-elements > .submit-button:hover {
  background-color: #324487;
  border: 1px #324487 solid;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

/* Message */
.none {
  display: none;
}

#submit-message > p {
  font-family: "Roboto-Light", sans-serif;
  font-size: 18px;
  margin: 20px 0 30px 0;
  text-align: center;
  color: #fff;
}

/*** FOOTER ***/
footer {
  flex-direction: row;
  justify-content: center;
  padding: 0.6em;
  background-color: var(--footer-bg-color);
}

/* icons-container */
.icons-container {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icons-container > a {
  align-items: center;
  width: 19%;
}

/* socials-icons */
.socials-icons a > i {
  font-size: 35px;
  margin-left: 20px;
}

.fa-github {
  color: #000000;
}

.fa-linkedin {
  color: #0077B5;
}

/*** MEDIA QUERIES ***/
@media screen and (max-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 28px;
  }
  /***NAV***/
  nav ul {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    height: 100vh;
    font-size: 21px;
    background-color: #000000;
    transition: all 0.2 ease-in-out;
  }
  nav ul li:first-child {
    margin-top: 8em;
  }
  nav ul li {
    margin-top: 40px;
  }
  nav ul li a {
    padding: 10px;
  }
  .open-menu,
  .close-menu {
    display: block;
  }
  #check:checked ~ ul {
    right: 0;
  }
  .cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
  }
  /***HERO***/
  .hero .hero-titles > h1 {
    font-size: 20px;
    line-height: 32px;
  }
  .hero .hero-titles > h1:first-child {
    margin-bottom: 3em;
  }
  /***RESUME***/
  .resume {
    font-size: 16px;
    border: 3px solid #fff;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    margin-top: 5em;
    padding: 15px 45px 15px 45px;
  }
  .fa-download {
    padding-right: 15px;
    font-size: 20px;
  }
  /***PROJETS***/
  .project {
    width: 90%;
    margin: 0 auto;
  }
  .project-img {
    width: 100%;
    border-radius: 15px;
    border: 2px solid #000000;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  }
  .project ul li {
    font-size: 20px;
  }
  .fa-star {
    font-size: 16px;
  }
  /***CARD WRAPPER***/
  .card-wrapper .swiper-slide-button {
    display: none;
  }
  .card-item > figure {
    width: 50%;
  }
  .card-item > .figma {
    width: 30%;
  }
  .card-item > .php {
    width: 80%;
  }
  .card-item > .mongodb {
    width: 52%;
  }
  .text {
    font-size: 18px;
  }
  form {
    min-height: 65vh;
    width: 90%;
    padding: 1.5em 0 1.5em 0;
  }
  /* submit-button */
  .form-elements > .submit-button {
    width: 45%;
  }
  /***FOOTER***/
  /* icons container */
  .icons-container > a {
    width: 20%;
  }
  /* socials-icons */
  .socials-icons a > i {
    font-size: 30px;
    margin-left: 15px;
  }
}/*# sourceMappingURL=main.css.map */