@charset "UTF-8";
/***CSS variables***/
:root {
  --base-bg-color: #333333;
  --text-color: #fff;
  --nav-bg-color: rgb(51, 61, 101, 0.8);
  --theme-icon-color: #333333;
  --theme-btn-bg-color: #fff;
  --nav-a-color: #fff;
  --nav-a-focus-color: #fff;
  --github-link: #b5c7eb;
  --footer-bg-color: #333D65;
}

/***Reset***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

/*** SMOOTH SCROLL ***/
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--base-bg-color);
  width: 100%;
}

.d-flex {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 32px;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);
}

img {
  width: 100%;
}

li {
  list-style: none;
}

/***** FONT (Roboto) *****/
/*** NORMAL ***/
/***Thin***/
@font-face {
  font-family: "Roboto-Thin";
  src: url("../fonts/Roboto/static/Roboto-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
/***ExtraLight***/
@font-face {
  font-family: "Roboto-ExtraLight";
  src: url("../fonts/Roboto/static/Roboto-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
/***Light***/
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto/static/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
/***Regular***/
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto/static/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
/***Medium***/
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto/static/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
/***SemiBold***/
@font-face {
  font-family: "Roboto-SemiBold";
  src: url("../fonts/Roboto/static/Roboto-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
/***Bold***/
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto/static/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
/***ExtraBold***/
@font-face {
  font-family: "Roboto-ExtraBold";
  src: url("../fonts/Roboto/static/Roboto-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
/***Black (heavy)***/
@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto/static/Roboto-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
/*** ITALIC ***/
/***ThinItalic***/
@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("../fonts/Roboto/static/Roboto-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}
/***ExtraLightItalic***/
@font-face {
  font-family: "Roboto-ExtraLightItalic";
  src: url("../fonts/Roboto/static/Roboto-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}
/***LightItalic***/
@font-face {
  font-family: "Roboto-LightItalic";
  src: url("../fonts/Roboto/static/Roboto-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
/***RegularItalic***/
@font-face {
  font-family: "Roboto-RegularItalic";
  src: url("../fonts/Roboto/static/Roboto-Italic.ttf");
  font-weight: 400;
  font-style: normal;
}
/***MediumItalic***/
@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("../fonts/Roboto/static/Roboto-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
/***SemiBoldItalic***/
@font-face {
  font-family: "Roboto-SemiBoldItalic";
  src: url("../fonts/Roboto/static/Roboto-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
/***BoldItalic***/
@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("../fonts/Roboto/static/Roboto-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
/***ExtraBoldItalic***/
@font-face {
  font-family: "Roboto-ExtraBoldItalic";
  src: url("../fonts/Roboto/static/Roboto-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
/***BlackItalic (heavy)***/
@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("../fonts/Roboto/static/Roboto-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
/***NAV***/
nav {
  position: fixed;
  z-index: 10;
  /*Pour que les éléments animés restent derrière la nav*/
  padding: 0.6em;
  text-align: center;
  width: 100%;
  background-color: var(--nav-bg-color);
}

.space-between {
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.logo-nav > a {
  align-items: center;
  width: 30%;
}

nav ul {
  font-family: "Roboto-Light", sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-decoration: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  padding: 0 5px;
  transition: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li a:focus {
  color: var(--nav-a-focus-color);
  text-decoration: underline;
}

/*** HERO ***/
.hero {
  min-height: 75vh;
  background: url("../imgs/header-bg-img.png");
  background-size: cover;
  background-position: center center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 40em rgba(0, 0, 0, 0.5) inset;
}

.hero .hero-titles > h1 {
  font-family: "Roboto-Light", sans-serif;
  font-weight: 300;
  font-size: 32px;
  color: #fff;
  margin: 0 auto;
  line-height: 3em;
  text-align: center;
  text-transform: none;
}

span {
  text-decoration: underline;
}

.resume {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  border: 3px solid #fff;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  margin-top: 2em;
  padding: 18px 40px 18px 40px;
}

.fa-download {
  padding-right: 18px;
  font-size: 22px;
}

.resume:hover {
  background-color: #283669;
  border-color: #283669;
}

.resume:active {
  background-color: #324487;
  border-color: #324487;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
  transition: none;
}

/***** MAIN *****/
.container {
  width: 100%;
}

.about-me {
  justify-content: center;
  margin: 75px 0 210px 0;
}

.about-me > figure {
  width: 18%;
  margin-right: 5em;
}

.about-me figure > img {
  border-radius: 15px;
}

.about-me > .searching-for {
  width: 50%;
}

.about-me > .searching-for h3 {
  text-align: left;
  font-size: 32px;
  margin-bottom: 10px;
}

.about-me > .searching-for p {
  font-family: "Roboto-Light", sans-serif;
  font-weight: 300;
  color: var(--text-color);
  line-height: 1.5;
  font-size: 21px;
}

/***** PROJETS *****/
.projects {
  font-size: 20px;
  margin-top: 135px;
  flex-direction: column;
}

.projects > h2 {
  margin-bottom: 20px;
  color: var(--text-color);
  text-align: center;
}

.parent-project {
  margin-top: 3em;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project {
  width: 41%;
}

.project > a {
  text-decoration: none;
}

.project-img {
  border-radius: 15px;
  border: 2px solid #000000;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.8);
  transform: scale(1);
  transition: color 0.2s, background-color 1s, transform 0.35s;
}

.project-img:hover {
  transform: scale(1.1);
}

.project ul li {
  font-family: "Roboto-Light", sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: var(--text-color);
  margin: 1rem 0rem 0rem 5px;
}

.project ul li:before {
  font-family: "Font Awesome 5 Free";
  content: "\f005";
  padding-right: 10px;
  vertical-align: 15%;
  font-weight: 900;
  color: #FFBD59;
  font-size: 18px;
}

.project ul li:first-child {
  margin-top: 2rem;
}

.project ul li:last-child {
  margin-bottom: 100px;
}

/*.project-card {
    margin: 0 auto;
    height: 45vh;
    width: 80%;
    border-radius: 15px;
    border: 2px solid #000000;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.8);
}

.project-card>p {
    font-family: "Roboto-Light", sans-serif;
    font-size: 21px;
    position: relative;
    bottom: -313px;
    background-color: #000000;
    color: #fff;
    padding: 0.8em;
    border-radius: 0 0 15px 15px;
    text-align: center;
}

#joke-generator {
    background: url("../imgs/projects/ajax-joke-generator_thumbnail.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}*/
.github-link {
  color: var(--github-link);
  text-decoration: none;
}

.github-link:hover {
  text-decoration: underline;
}

/*** COMPETENCES ***/
.skills {
  font-size: 20px;
  margin: 135px 0 100px 0;
  margin-top: 135px;
  flex-direction: column;
}

.skills > h1 {
  margin-bottom: 20px;
}

/**CARDS**/
.cards-container {
  /* background-color: #0077B5; */
  width: 80%;
  margin-top: 3em;
  flex-direction: row;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* card-wrapper */
.card-wrapper {
  max-width: 100%;
  margin: 0 60px 35px;
  overflow: hidden;
}

.card-list {
  width: 50%;
}

/* card-item */
.card-item {
  display: flex;
  align-content: center;
  height: auto !important;
  border: 3px solid #b5c7eb;
  border-radius: 6px;
  padding: 20px 25px 20px 25px;
  margin-bottom: 10px;
}

.card-item > figure {
  width: 30%;
  margin: 0 auto;
  margin-bottom: 5px;
}

.card-item:active {
  cursor: grabbing;
}

.card-item > .titles {
  text-align: center;
  line-height: 1.6em;
}

.card-item .titles > h3 {
  text-transform: none;
  font-size: 22px;
}

.card-item .titles > h4 {
  font-family: "Roboto-LightItalic", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  text-transform: none;
  color: #AAAAAA;
}

.card-item > .text {
  font-family: "Roboto-Light", sans-serif;
  font-weight: 300;
  margin-top: 20px;
  color: var(--text-color);
  text-align: center;
}

.card-item .text > p {
  text-align: center;
  margin-bottom: 20px;
}

.card-item .text > .solid-star {
  color: #FFBD59;
}

.card-item > .figma {
  width: 20%;
}

.card-item > .php {
  width: 50%;
}

/* swiper buttons + pagination */
.swiper-button-next, .swiper-button-prev {
  --swiper-navigation-color: var(--text-color);
  --swiper-navigation-size: 28px;
}

.swiper-pagination-bullet {
  --swiper-pagination-color: #788cb5;
}

/*** CONTACT ***/
.title-contact {
  justify-content: center;
}

.title-contact > h1 {
  margin: 135px 0 20px 0;
}

.contact-me {
  min-height: 70vh;
  background: url("../imgs/form-bg-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 40em rgba(0, 0, 0, 0.5) inset;
  align-items: center;
  margin-top: 3em;
}

/***FORM***/
form {
  background-color: rgba(255, 255, 255, 0.3);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2em 0 2em 0;
  width: 55%;
  border-radius: 15px;
}

input {
  font-family: "Roboto-Light", sans-serif;
  font-size: 16px;
  padding: 12px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #777777;
}

/* form-group */
.form-group {
  width: 100%;
}

.form-group > input:first-child {
  margin-right: 10px;
}

/* form-elements */
.form-elements {
  flex-direction: column;
  width: 80%;
}

.form-elements > textarea {
  font-family: "Roboto-Light", sans-serif;
  font-size: 16px;
  height: 15em;
  padding: 15px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #777777;
}

/* submit-button */
.form-elements > .submit-button {
  font-family: "Roboto-Light", sans-serif;
  align-self: flex-start;
  border: 1px solid #283669;
  background-color: #283669;
  color: #fff;
  padding: 12px 20px 12px 20px;
  border-radius: 5px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.form-elements > .submit-button:after {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  padding-left: 15px;
  vertical-align: middle;
  font-weight: 900;
  color: #fff;
  font-size: 18px;
}

.form-elements > .submit-button:hover {
  background-color: #324487;
  border: 1px #324487 solid;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

/*** FOOTER ***/
footer {
  flex-direction: row;
  justify-content: center;
  padding: 0.6em;
  background-color: var(--footer-bg-color);
}

/* icons-container */
.icons-container {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icons-container > a {
  align-items: center;
  width: 20%;
}

/* socials-icons */
.socials-icons a > i {
  font-size: 35px;
  margin-left: 20px;
}

.fa-github {
  color: #000000;
}

.fa-linkedin {
  color: #0077B5;
}

/*** MEDIA QUERIES ***/
@media screen and (max-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 28px;
  }
  /***NAV***/
  nav ul {
    font-size: 17.5px;
  }
  /***HERO***/
  .hero .hero-titles > h1 {
    font-size: 20px;
    line-height: 32px;
  }
  .hero .hero-titles > h1:first-child {
    margin-bottom: 3em;
  }
  /***RESUME***/
  .resume {
    font-size: 16px;
    border: 3px solid #fff;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    margin-top: 5em;
    padding: 10px 45px 10px 45px;
  }
  .fa-download {
    padding-right: 15px;
    font-size: 20px;
  }
  /***PROJETS***/
  .project {
    width: 90%;
    margin: 0 auto;
  }
  .project-img {
    width: 100%;
    border-radius: 15px;
    border: 2px solid #000000;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  }
  .project ul li {
    font-size: 20px;
  }
  .fa-star {
    font-size: 16px;
  }
  /***CARD WRAPPER***/
  .card-wrapper .swiper-slide-button {
    display: none;
  }
  .card-item > figure {
    width: 50%;
  }
  .card-item > .figma {
    width: 30%;
  }
  .card-item > .php {
    width: 80%;
  }
  .text {
    font-size: 18px;
  }
  .contact-me {
    padding: 1em 0 1em 0;
  }
  form {
    width: 90%;
    padding: 1.5em 0 1.5em 0;
  }
  /***FOOTER***/
  /* icons container */
  .icons-container > a {
    width: 20%;
  }
  /* socials-icons */
  .socials-icons a > i {
    font-size: 30px;
    margin-left: 15px;
  }
}/*# sourceMappingURL=main.css.map */