/***NAV***/
nav {
    position: fixed;
    z-index: 10;
    /*Pour que les éléments animés restent derrière la nav*/
    padding: 0.6em;
    text-align: center;
    width: 100%;
    background-color: var(--nav-bg-color);
}

.space-between {
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo-nav>a {
    align-items: center;
    width: 30%;
}

nav ul {
    flex-direction: row;
    font-family: "Roboto-Light", sans-serif;
    font-weight: 300;
    font-size: 17px;
    text-decoration: none;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    padding: 0 5px;
    transition: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a:focus {
    text-decoration: underline;
}

.open-menu, .close-menu {
    display: none;
    position: absolute;
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
}

.open-menu {
    top: 13%;
    right: 20px;
    transform: translateY(50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}