/*** COMPETENCES ***/
.skills {
    font-size: 20px;
    margin: 135px 0 100px 0;
    margin-top: 135px;
    flex-direction: column;
}

.skills>h1 {
    margin-bottom: 20px;
}

/**CARDS**/
.cards-container {
    /* background-color: #0077B5; */
    width: 80%;
    margin-top: 3em;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* card-wrapper */
.card-wrapper {
    max-width: 100%;
    margin: 0 60px 35px;
    overflow: hidden;
}

.card-list {
    width: 50%;
}

/* card-item */
.card-item {
    display: flex;
    align-content: center;
    height: auto !important;
    border: 3px solid #b5c7eb;
    border-radius: 6px;
    padding: 30px 40px 30px 40px;
    margin-bottom: 10px;
}

.card-item>figure {
    width: 29%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.card-item:active {
    cursor: grabbing;
}

.card-item>.titles {
    text-align: center;
    line-height: 1.6em;
}

.card-item .titles>h3 {
    text-transform: none;
    font-size: 22px;
}

.card-item .titles>h4 {
    font-family: "Roboto-LightItalic", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
    text-transform: none;
    color: #AAAAAA;
}

.card-item>.text {
    font-family: "Roboto-Light", sans-serif;
    font-weight: 300;
    margin-top: 20px;
    color: var(--text-color);
    text-align: center;
}

.card-item .text>p {
    text-align: start;
    margin: 20px 0 20px 0;
}

.card-item .text>.solid-star {
    color: #FFBD59;
}

.card-item>.bootstrap {
    width: 34%;
    margin-bottom: 5px;
}

.card-item>.figma {
    width: 20%;
}

.card-item>.mySQL {    
    width: 53%;
}

.card-item>.php {
    width: 52%;
}

.card-item>.git {
    margin-bottom: 2.5px;
}

.card-item>.mongodb {
    width: 35%;
    margin-bottom: 2px;
}

.card-item>.wordpress {
    width: 40%;
    margin-bottom: 0;
}

.card-item>.symfony {
    width: 33%;
    margin-bottom: 10px;
}

/* swiper buttons + pagination */
.swiper-button-next, .swiper-button-prev {
  --swiper-navigation-color: var(--text-color);
  --swiper-navigation-size: 28px;
}

.swiper-pagination-bullet {
    --swiper-pagination-color: #788cb5;
}